:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  margin-bottom: 2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.vehicle-cost-calculator {
  max-width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.input-group {
  margin-bottom: 15px;
}

label,
p {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box; /* <-- ensures width includes padding & border */
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 40px;
}

li {
  margin-bottom: 5px;
}
